<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Telegram Part -->
        <add key="TELEGRAM_API_URI" value="" />
        <add key="TELEGRAM_API_KEY" value="" />
        <add key="TELEGRAM_CHAT_ID" value="" />
        
        <!-- Logger Configuration -->
        <add key="LOG_DIRECTORY" value="" />

        <!-- Application Configuration -->
        <add key="DATA_TO_BE_PROCESSED_DIR" value="" />
        <add key="PROCESSED_INPUT_FOLDER" value="" />
        <add key="PROCESSED_OUTPUT_FOLDER" value="" />
        <add key="ML_MODEL_DUMP_DIR" value="" />
        <add key="ML_CKPT_DUMP_DIR" value="" />
    </appSettings>
</configuration>